.made-by {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    transition: color 1s;

    &:hover {
        color: #BBB;

        .name {
            color: #DDD;
        }

        .icon {
            color: #F00;
            animation: heartbeat 0.45s infinite;
        }
    }

    .name {
        transition: color 1s;
        color: #888;
        margin: 0 4px;
        font-weight: bold;
    }

    .icon {
        transition: color 1s;
        margin: 0 8px;
        color: #A00;
        animation: heartbeat 1.3s infinite;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.25);
        color: #ef3953;
    }

    100% {
        transform: scale(1);
    }
}
